.post-container {
    border: 1px solid grey;
    padding: 8px;
    width: 33%;
    border-radius: 12px;
    margin-right: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.post-title {
    margin-top: -2px;
    font-size: medium;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: -12px;
}

.post-body {
    font-size: small;
    font-weight: 400;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.posts {
    display: flex;
    flex-direction: row;
}